<launch>
     <node name="turtleviz" pkg="turtlesim" type="turtlesim_node" output="screen" />
     <param name="/background_r" value="255" />
     <param name="/background_g" value="105" />
     <param name="/background_b" value="180" />
     <node name="turtlekeys" pkg="turtlesim" type="turtle_teleop_key" output="screen" />
</launch>
