<launch>    
    <arg name="town" default="townA"/>

    <include file="$(find tb3_bringup)/launch/turtlebot3_robot.launch"/>
    <include file="$(find tb3_description)/launch/turtlebot3_model.launch"/>
    <include file="$(find tb3_hardware)/launch/rplidar.launch"/>
    <node pkg="tb3_teleop" type="teleop.py" name="teleop" output="screen"/>
    <include file="$(find tb3_localization)/launch/amcl.launch"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(find tb3_localization)/map/$(arg town)_gmap.yaml"/>
    <include file="$(find tb3_localization)/launch/webcam.launch"/>
    <include file="$(find tb3_localization)/launch/track.launch" />
    <include file="$(find tb3_navigation)/launch/move_base.launch"/>
</launch>
