<launch>


  <node name="turtlesim" pkg="maskor_turtlesim" type="maskor_turtlesim_node" output="screen">

    <param name = "background_r" value = "0" />
    <param name = "background_g" value = "0" />
    <param name = "background_b" value = "0" />

  </node>

  <node name="turtle_teleop_key" pkg="maskor_turtlesim" type="maskor_turtle_teleop_key" output="screen" />

</launch>

